<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title >SajeelAhmad</title>


    <link rel="shortcut icon" href="./IMAGES/cd.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="/CSS/style.css">


</head>

<body>
    <header id="main-header">
        <div class="container">
            <h1>Sajeel Ahmad</h1>


        </div>


    </header>
    <nav id="navbarM">
        <div class="container">
            <a href="index.html"><button id="navbM"> MENU</button> </a>

            <a href="login.html"><button  class="btn" type="button">login</button></a>

        </div>
        <div id="mylinks">
            <a href="index.html"><button id="navbMl"> HOME</button> </a>

            <a href="blog.html"><button id="navbMl"> BLOG</button> </a>
            <a href="/search"><button id="navbMl"> SEARCH</button> </a>
            <a href="index.html"><button id="navbMl"> CONTACT</button> </a>



        </div>

    </nav>




    <nav id="navbar">
        <div class="container">


            <a href="/"><button id="navb"> HOME</button> </a>

            <a href="/blog"><button id="navb"> BLOG</button> </a>
            <a href="/search"><button id="navb"> SEARCH</button> </a>
            <a href="/"><button id="navb"> CONTACT</button> </a>

            <a href="/login"><button href="" class="btn" type="button">login</button></a>


        </div>

    </nav>


    {{{body}}}
  
    
    <footer id="main-footer">
        <p> Sajeel Ahmad copyrights &copy; 2021 no rights reserved</p>

    </footer>

    <script src="javaScript/index.js"></script>
    <!-- <div style="margin: 500px;"></div> -->
</body>

</html>