<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title >SajeelAhmad</title>


    <link rel="shortcut icon" href="./IMAGES/cd.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="CSS/style.css">


</head>

<body>

    

    <section id="showcase">
        <div class="container">
            <!-- <h1 class="logosa">SA</h1> -->

            <img class="logo" src="IMAGES/sajeel.jpg" width="80px" alt="sajeel">

        </div>
        <div class="container">
            <h1 id="head">Salam
                <strong class="pak">Pakistan</strong>
            </h1>
            <h2 id="durood">Crores of Durood on <span> Hazrat Muhammad(PBUH)</span></h2>
            
        </div>
    </section>
    <div class="container">
        <section id="main">
            <h1>Assalam-o-Alaikum</h1>
            <!-- <p>First of all crores of Darood on <h2>Prophet </h2></p> -->
            <hr>
            <h1>Welcome</h1>
            <p>Salam</p>
            <hr>
            <h1>Welcome</h1>
            <img style="width:250px;border-radius: 20px;" src="IMAGES/iqbal.png" alt="">
        </section>s

        <aside id="sidebar">
            <p>No Power on Earth that can Undo PAKISTAN
                <hr>
                Muhammad Ali Jannah.
            </p>
        </aside>

    </div>
 

    <script src="javaScript/index.js"></script>
    <!-- <div style="margin: 500px;"></div> -->
</body>

</html>