
<body>
    <link rel="stylesheet" href="./CSS/search.css">

    
    <div class="container">
        <div id="audioname" >Play this!</div>
        <audio id="audio" controls src="audio/AllaHooQariWaheed.webm"></audio>
    </div>
    <section id="main">
        <div class="container">
            <form id="adform" action="">
                <label for=""><h3>Add Your Name Here</h3></label>
                <input type="text" id="item">
                <input type="submit" id="submit" value="Add me">

            </form>
        </div>
    </section>
    <section >
         
</section>
<div class="container">
    <ul id="items">
        <!-- <li> items <button id="delete">X</button></li> -->
    </ul>
</div>
    <script src="javaScript/search.js"></script>

</body>

